*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Risque', cursive;
    background-color: khaki;
}

.contacto
{
    margin-top: 10%;
    margin-left: 5%;
}

.video
{
    margin-top: 2%;
}
.textarea
{
    size: 30px;
    row-gap: 15;
}